@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
  --font-size: 1em;
  --font-family: 'Roboto Condensed', sans-serif;
  --font-line-height: 1.5;
  --site-max-width: 65em;
  --site-foreground: #656158;
  --site-background: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

body {
  background: #eee;
  color: #999;
}

a,
a:hover {
  text-decoration: none;
  color: var(--site-dark-background);
}
a:hover {
  color: brown;
}

input::placeholder {
  color: #bbb;
}

button,
input[type='file'],
input[type='password'],
input[type='text'],
textarea {
  color: #ccc;
  font-size: inherit;
  padding: 0.5em;
  border-radius: 0.3em;
  background: #fff;
  border: 1px solid #ddd;
  color: #666;
  margin: 0.5em auto;
}
form {
  margin: 1em;
}
form input {
  width: 100%;
}

button {
  padding: 0.3em 2em;
}
button:hover {
  background: #fafafa;
  color: brown;
}

input:focus,
input:active {
  outline: 0 none;
}

select {
  padding: 0.35em 0.5em;
  margin: 0 1em;
  border-color: #ddd;
  border-radius: 0.3em;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.errors pre {
  color: red;
}
.errors {
  min-height: 3em;
}

.header {
  position: absolute;
  z-index: 1000;
}
footer {
  box-shadow: 0em 0em 5em #c1c1c1;
  border-top: 1px solid #ccc;
  padding: 2em;
  text-align: center;
  color: grey;
}
header,
.site,
footer {
  flex-shrink: 0;
}

.site {
  margin: 0 auto;
  width: var(--site-max-width);
  flex-grow: 1;
  display: flex;
}

.nav-wrapper {
  /* background: #71690b; */
  background: var(--site-foreground);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

@keyframes contentAnimation {
  0% {
    filter: brightness(0);
    transform: translateY(100px);
  }
  100% {
    filter: brightness(1);
    transform: translateY(0);
  }
}
#content.animate {
  animation: 1s ease-out 0s 2 contentAnimation;
}

.site-logo {
  max-width: 240px;
  min-width: 120px;
  margin: 2em auto;
}
.site-logo #sitelogo {
  margin: 1em auto;
  max-width: 100%;
}

.site-search {
  border: none;
  color: #999;
  margin-top: 50px;
  max-width: 10em;
}
.site-content {
  width: 100%;
  margin: 3em auto;
  text-align: center;
}
.site-content h1 {
  color: #666;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin: 2em auto;
}
.site-content .list-details {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.site-content .list-details h2 {
  margin: 0 auto;
  color: #999;
  border-bottom: 1px solid #ddd;
}

.content-box {
  background: #fff;
  border-radius: 0.3em;
  box-shadow: 0 0 3em #999;
  border: 10px solid white;
}
.list-table {
  width: 100%;
}

.list-table th {
  padding: 1em;
  background: var(--site-foreground);
  background-image: linear-gradient(#999, #666);
  color: var(--site-background);
  border-left: 1px solid #ddd;
}

.list-table th:hover a {
  color: yellow;
}

.list-table th a::before {
  margin-right: 0.8em;
  font-family: 'Font awesome 5 Free';
  color: white;
  font-weight: bold;
  content: '\f0dc';
}

.list-table th.desc a,
.list-table th.asc a {
  color: yellow;
}
.list-table th.desc a::before {
  content: '\f161';
}

.list-table th.asc a::before {
  content: '\f884';
}
.list-table td {
  color: #666;
  padding: 1em;
  transition: all 0.3s;
  border-bottom: 1px solid #ddd;
}
.list-table > tbody > tr:nth-child(odd) td {
  background: #efefef;
  border-top: 1px solid #fff;
}
.list-table tr:hover td {
  background-image: linear-gradient(#fff, #eee);
}

.site-content .book-preview:hover {
  transform: scale(1.1);
  box-shadow: 0 0 3em 2px #666;
}
.site-content .book-preview .description {
  color: #aaa;
  padding: 10%;
  flex-grow: 1;
}
.site-content .book-preview:hover > .description {
  color: #999;
}
.site-content .book-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31.2%;
  background: #fff;
  padding: 1em;
  border: 3px solid #fff;
  margin: 10px;
  border-radius: 0.3em;
  box-shadow: 0 0 0.3em 2px #ddd;
  transition: all 0.5s;
}
.site-content .book-preview .more {
  background: var(--site-dark-background);
  text-decoration: none;
  color: white;
  padding: 0.5em;
  border-radius: 0.3em;
  margin: 1em auto;
}
.site-content .book-preview .title {
  color: var(--site-dark-background);
  font-size: 1.5em;
  margin: 0.5em;
}
.site-content .book-preview .author {
  font-weight: 800;
  color: #c00;
}
.site-content .book-preview .author a {
  text-decoration: underline;
}
.site-content .book-preview .author a:hover {
  color: brown;
}
.site-content .book-preview .genre {
  color: #777;
}
.site-content .book-preview button:hover {
  color: white;
  background: var(--site-dark-background);
}

.site-content .single-book {
  display: flex;
  align-items: flex-start;
}
.site-content .single-book .title {
  font-size: 2em;
  color: black;
}
.site-content .book-slider .book-preview {
  width: 100%;
}

.single-book .book-info {
  max-width: 65%;
  border-left: 1px solid #ddd;
  padding: 2em;
  color: #666;
  text-align: left;
}
.single-book .book-info h2 {
  color: brown;
  font-size: 1.5em;
}

.single-book .books-list {
  width: 35%;
  background: white;
  box-shadow: 0 0 0.5em #ddd;
  padding: 2em;
  border-radius: 0.3em;
  margin-right: 2em;
  flex: 1 0 auto;
}

.filter-list {
  width: 100%;
  margin: 1em auto;
  color: brown;
  background: #eee;
  padding: 1em;
  border-bottom: 15px solid white;
}

.site-content .login,
.site-content .register {
  background: #fff;
  box-shadow: 0 0 0.3em 2px #ddd;
  border-radius: 0.3em;
  color: #444;
  margin: 0 calc(40% - 200px);
  padding: 3em;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: var(--font-line-height);
}

body,
form,
input,
textarea,
option,
select,
button {
  font: inherit;
}

p,
ul,
ol {
  padding-bottom: 1.5em;
}

ul,
ol {
  padding-left: 2.5em;
}

blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 0.5rem;
  padding-top: 1.5rem;
  font-weight: normal;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 160%;
}

h4 {
  font-size: 140%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 100%;
}

blockquote {
  padding: 0 2.5em;
  border-left: 2px solid #000;
  margin-bottom: 1.5em;
}

blockquote p {
  font-style: italic;
  /* padding: 0; */
}

blockquote p:last-child {
  padding-bottom: 0;
}

/*# sourceMappingURL=site.css.map */
.error,
input.error::placeholder {
  color: red;
  font-size: 12px;
  transition: all 0.5s;
}
input.error {
  border: 1px solid red !important;
}

.reviews-list .review-author {
  font-size: 11px;
  display: inline-block;
  color: brown;
  margin: 1em 0;
}

.car-plate {
  background: white;
  border-color: #00309a;
  border-radius: 0.2em;
  border: 1px solid;
  padding: 0.3em;
  border-left: 0.7em solid #00309a;
  text-transform: uppercase;
}
.list-table .brand {
  color: #333;
  font-weight: bold;
}

.customer-cars {
  width: 90%;
  text-align: right;
}

.sub-list-table {
  width: 100%;
}
.sub-list-table tr {
  background: #fff;
}
.edit-service-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.edit-service-buttons button {
  width: 30%;
}

.reset-password-container {
  margin-top: 20%;
}

.reset-password-container i {
  font-size: 150px;
  margin-bottom: 38px;
}

.reset-password-container i.fa-check {
  color: green;
}

.reset-password-container i.fa-times {
  color: red;
}
