
.site-nav {
    text-align: center;
    display: flex;
    background: #00000022;
    margin: 0 auto;
    box-shadow: 0em 1em 2em;

    ul {
        padding: 0;
        margin: 0.2em auto;
        display: flex;
    }

    li {
        display: block;
        list-style: none outside;
        padding: 0.6em;
        border-radius: 1em;
        box-shadow: 1px 0px 0px #00000022;
        margin: 0 0.5em;
    }
}


#main-menu {
    li {
        a {
            box-sizing: border-box;
            display: block;
            color: #fff;
            padding: 0 0.5em;
            margin: 0 0.3em;
            font-size: 1em;
            transition: transform 0.1s;

            &::before {
                margin-right: 0.8em;
                font-family: 'Font awesome 5 Free';
                color: white;
                font-weight: bold;
            }
            &.active,
            &:hover{
                color: yellow;
                transform: scale(1.2);
            }
        }
        &.home > a::before {
            content: '\f015';
        }
        &.garage > a::before {
            content: '\f494';
        }
        &.cars a::before {
            content: '\f5e4';
        }
        &.orders a::before {
            content: '\f07c';
        }
        &.customers a::before {
            content: '\f406';
        }
        &.register a::before {
            content: '\f234';
        }
        &.login a::before {
            content: '\f2f6';
        }
        &.logout a::before {
            content: '\f2f5';
        }
        &:hover ul {
            visibility: visible;
            opacity: 1;
        }
    }
    ul {
        width: 50em;
        margin-left: 8px;
        display: flex;
        visibility: hidden;
        flex-wrap: wrap;
        background: #000;
        position: absolute;
        top: 49px;
        opacity: 0;
        padding: 1em;
        transition: opacity 0.4s;

        a {
            font-size: 1em;
            min-width: 8.5em;
            background: #777;
            border-radius: 0.3em;
            padding: 0.3em 0.9em;
            margin: 0.5em;
            color: #000;
            border: none;
            transition: all 0.3s;

            &:hover {
                box-shadow: 0 0 1em white;
                background: #fff;
                color: #777;
            }
        }
    }
}
