.home-services {
  margin-top: 2em;
}
.search__popular__service .icon.car-not-starting {
  background: url('/assets/nav/car-not-starting--dark.svg') 0px 0px no-repeat;
}
.search__popular__service .icon.oil-change {
  background: url('/assets/nav/oil-change--dark.svg') 0px 0px no-repeat;
}
.search__popular__service .icon.brake-pads {
  background: url('/assets/nav/brake-pads--dark.svg') 0px 0px no-repeat;
}
.search__popular__service .icon.battery {
  background: url('/assets/nav/battery--dark.svg') 0px 0px no-repeat;
}
.search__popular__service .icon.pre-purchase {
  background: url('/assets/nav/pre-purchase--dark.svg') 0px 0px no-repeat;
}
.search__popular__service .icon.alternator {
  background: url('/assets/nav/alternator--dark.svg') 0px 0px no-repeat;
}
.search__popular__service .icon.check-engine-light {
  background: url('/assets/nav/check-engine-light--dark.svg') 0px 0px no-repeat;
}
.search__popular__service .icon.starter {
  background: url('/assets/nav/starter--dark.svg') 0px 0px no-repeat;
}
.search__popular__service .icon.spark-plugs {
  background: url('/assets/nav/spark-plugs--dark.svg') 0px 0px no-repeat;
}
.search__popular__service .icon.water-pump {
  background: url('/assets/nav/water-pump--dark.svg') 0px 0px no-repeat;
}
.search__popular__service .icon.radiator {
  background: url('/assets/nav/radiator--dark.svg') 0px 0px no-repeat;
}
.search__popular__service .icon.fuel-pump {
  background: url('/assets/nav/fuel-pump--dark.svg') 0px 0px no-repeat;
}
.search__popular__service .icon.rnr {
  background: url('/assets/nav/rnr-icon--dark.svg') 0px 0px no-repeat;
}

.shadow-box-fill {
  display: block;
  background-color: #fff;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  transition: box-shadow 0.3s;
  margin-bottom: 10px;
  z-index: 99;
  border: 1px solid #e7ebeb;
}

.search__popular__service .icon {
  min-width: 35px;
  width: 35px;
  min-height: 35px;
  height: 35px;
  display: block;
}
.search__popular__service .search__popular__service__icon {
  background-color: #f9f9f9;
  min-width: 55px;
  min-height: 55px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  display: flex;
  box-align: center;
  align-items: center;
  box-pack: center;
  justify-content: center;
  margin-right: 20px;
  box-shadow: 0px 0.5px 3px 0px rgb(0 0 0 / 20%);
}

.services-section .shadow-box-fill {
  padding: 15px 10px 32px 38px;
}

.shadow-box-fill:hover {
  box-shadow: 0 5px 14px rgb(0 0 0 / 10%);
}

.jobs-list li a {
  font-weight: 400;
  color: #6d7579;
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  padding-top: 20px;
}

a.search__popular__service.d-flex.no-padding {
  align-items: center;
  font-size: 13px;
}